<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="tbmJavaAutomationFramework">

	<listeners>
		<listener
			class-name="com.tbmJavaAutomationFramework.Utilities.Reporting" />
	</listeners>

	<test name="Verifying the login in Chrome">
		<parameter name="browser" value="chrome" />
		<!-- <groups> <run> <include name="demo" /> </run> </groups> -->
		<classes>
			<class
				name="com.tbmJavaAutomationFramework.TestCases.TC_AddNewCustomer_003" />
			<class
				name="com.tbmJavaAutomationFramework.TestCases.TC_LoginDDT_02" />
			<class
				name="com.tbmJavaAutomationFramework.TestCases.TC_LoginTest_01" />
			<class
				name="com.tbmJavaAutomationFramework.TestCases.TC_EditCustomerDetails_04" />
		</classes>
	</test>
</suite>      